ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-17sses9 {
    background-color: #008748;
    box-shadow: none !important;
    li.ant-menu-item {
        font-size: 16px;
        font-weight: 600;
        outline: none;
        border: none;
    }
}